@model FoodOrderWeb.Models.ListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Organizations</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var organizations in Model.Organizations.Select((item, index) => new {item, index})
    .GroupBy(x => x.index / 3)
    .Select(g => g.Select(x => x.item)))
{
    <div class="row">

        @foreach (FoodOrderWeb.Core.DataBase.Organization rec in organizations)
        {
            <div class="col-4">
                <div class="row row-conformity">
                    <div class="col-12">
                        <h1>@rec.Name</h1><br/>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">

        @foreach (FoodOrderWeb.Core.DataBase.Organization rec in organizations)
        {
            <div class="col-4">
                <div class="row row-conformity">
                    <div class="col-12">

                        @Html.ActionLink("Edit", "Edit", new {id = rec.Id}) |
                        @Html.ActionLink("Delete", "Delete", new {id = rec.Id}) |
                        @Html.ActionLink("Dishes", "Index", "Dish", new {organizationId = rec.Id})

                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        @foreach (FoodOrderWeb.Core.DataBase.Organization rec in organizations)
        {
            <div class="col-4">
                @if (rec.PictureFormat?.Length > 0)
                {
                    <img src="@Url.Content("/Images/Org/" + rec.PictureName + "." + rec.PictureFormat)" class="img-fluid img-thumbnail"/>
                }
                <p class="word">@rec.Comment</p>
            </div>
        }
    </div>
}
