@model FoodOrderWeb.Models.Basket.BasketRatingAndComment

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create or edit Order</h1>

<hr />
<div class="row">
    <div>
        <form asp-action="CreateOrEdit">
            <div asp-validation-summary="All" class="text-danger"></div>
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.OrganizationId)
            @Html.HiddenFor(model => model.Id)

            @for (int i = 0; i < Model.BasketInventoryRatingAndComments.Count; i++)
            {
                @Html.HiddenFor(model => model.BasketInventoryRatingAndComments[i].Id)
                @Html.HiddenFor(model => model.BasketInventoryRatingAndComments[i].DishId)
                @Html.HiddenFor(model => model.BasketInventoryRatingAndComments[i].Comment)
                @Html.HiddenFor(model => model.BasketInventoryRatingAndComments[i].DishComment)
                @Html.HiddenFor(model => model.BasketInventoryRatingAndComments[i].Raiting)
                @Html.HiddenFor(model => model.BasketInventoryRatingAndComments[i].RatingCount)
                @Html.HiddenFor(model => model.BasketInventoryRatingAndComments[i].Price)
                @Html.HiddenFor(model => model.BasketInventoryRatingAndComments[i].Name)
                @Html.HiddenFor(model => model.BasketInventoryRatingAndComments[i].PictureFormat)
                @Html.HiddenFor(model => model.BasketInventoryRatingAndComments[i].PictureName)
                @Html.HiddenFor(model => model.BasketInventoryRatingAndComments[i].Sum)
                <div class="row">
                    <div class="col-12">
                        <h1>@Model.BasketInventoryRatingAndComments[i].Name</h1>
                    </div>
                </div>
                <div class="row">

                    <div class="col-6">
                        <p>цена @Model.BasketInventoryRatingAndComments[i].Price</p>

                        @if (Model.BasketInventoryRatingAndComments[i].PictureFormat?.Length > 0)
                        {
                            <img src="@Url.Content("/Images/Dish/" +
                                                   Model.BasketInventoryRatingAndComments[i].PictureName + "." +
                                                   Model.BasketInventoryRatingAndComments[i].PictureFormat)" class="img-fluid img-thumbnail" />
                        }
                        <p class="word">@Model.BasketInventoryRatingAndComments[i].DishComment</p>
                        <div class="form-group">
                            <label asp-for="@Model.BasketInventoryRatingAndComments[i].CountInventory" class="control-label"></label>
                            <input asp-for="@Model.BasketInventoryRatingAndComments[i].CountInventory" class="form-control" />
                            <span asp-validation-for="@Model.BasketInventoryRatingAndComments[i].CountInventory" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        @if (Model.BasketInventoryRatingAndComments[i].RatingCount > 0)
                        {
                            <h4>рейтинг @Model.BasketInventoryRatingAndComments[i].Raiting</h4>
                        }
                        @if (Model.BasketInventoryRatingAndComments[i].Comment?.Length > 0)
                        {
                            <pre>@Model.BasketInventoryRatingAndComments[i].Comment</pre>
                        }
                    </div>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

