@model FoodOrderWeb.Models.ListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bakets</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Date Pay
            </th>
            <th>
                Count
            </th>
            <th>
                Sum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Baskets) {
        <tr>
            <td>
                @if (item.Status)
                {
                    <p>@item.DateAction.ToString("dd.MM.yyyy")</p>
                }
            </td>
            <td>
                @item.CountInventory
            </td>
            <td>
                @item.Sum
            </td>
            <td>
                @if (!item.Status)
                {
                    @Html.ActionLink("Pay", "Pay", new { id = item.Id })
                }
                else
                {
                    @Html.ActionLink("RatingAndComment", "RatingAndComment", new { id = item.Id })
                }
            </td>
        </tr>
}
    </tbody>
</table>
