@model FoodOrderWeb.Models.Basket.BasketEditModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pay</h1>

<hr />
<div class="row">
    <div>
        <form asp-action="Pay">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.OrganizationId)
            @Html.HiddenFor(model => model.Id)

            @for (int i = 0; i < Model.BasketInventoryEditModels.Count; i++)
            {
                @Html.HiddenFor(model => model.BasketInventoryEditModels[i].Id)
                @Html.HiddenFor(model => model.BasketInventoryEditModels[i].DishId)
                @Html.HiddenFor(model => model.BasketInventoryEditModels[i].Comment)
                @Html.HiddenFor(model => model.BasketInventoryEditModels[i].Price)
                @Html.HiddenFor(model => model.BasketInventoryEditModels[i].Name)
                @Html.HiddenFor(model => model.BasketInventoryEditModels[i].PictureFormat)
                @Html.HiddenFor(model => model.BasketInventoryEditModels[i].PictureName)
                @Html.HiddenFor(model => model.BasketInventoryEditModels[i].Sum)
                <div class="row">
                    <div class="col-12">
                        <h1>@Model.BasketInventoryEditModels[i].Name</h1>
                    </div>
                </div>
                <div class="row">

                    <div class="col-4">
                        <p>цена @Model.BasketInventoryEditModels[i].Price</p>

                        @if (Model.BasketInventoryEditModels[i].PictureFormat?.Length > 0)
                        {
                            <img src="@Url.Content("/Images/Dish/" +
                                                   Model.BasketInventoryEditModels[i].PictureName + "." +
                                                   Model.BasketInventoryEditModels[i].PictureFormat)" class="img-fluid img-thumbnail" />
                        }
                        <p class="word">@Model.BasketInventoryEditModels[i].Comment</p>
                    </div>
                    <div class="col-8">
                        <p>@Model.BasketInventoryEditModels[i].CountInventory pieces worth @Model.BasketInventoryEditModels[i].Sum</p>
                    </div>
                </div>
            }
            <h2>TotalSim @Model.Sum</h2>
            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

